{% extends 'base.html' %}
{% block title %}Detail{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
{% endblock css %}

{% block content %}
<p class="list"> 할 일 : {{post.title}} </p>
    <p> 세부사항 : {{post.content}} </p>
    <p> 데드라인 : {{post.deadline}} </p>
    <br>
    <div class="box">
        <div class="small_box">
            <a href= "{% url 'home' %}">홈</a>
        </div>
        <div class="small_box">
            <a href= "{% url 'edit' post.pk %}">수정</a>
        </div>
        <div class="small_box">
            <a href= "{% url 'delete' post.pk %}">삭제</a>
        </div>
    </div>
    <br>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="content" placeholder="댓글을 입력해주세요">
        <button type="submit">댓글</button>
    </form>
    <br>
    <div class="comment">
        {% for comment in post.comments.all %}
        <li> {{ comment.content }} </li>
        <div class="comment_d">
            <a href="{% url 'delete_comment' post.pk comment.pk %}">댓글 삭제</a>
        </div>
        <br>
        {% endfor %}
    </div>
{% endblock content %}